# data — нельзя публично распространять данные Kaggle
data/raw/
data/processed/
*.csv
*.joblib

# jupyter artifacts
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# python
__pycache__/
*.pyc
.env
venv/

# Разрешаем модель для деплоя
!data/processed/lgb_model.pkl